In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split, StratifiedKFold, KFold

In [2]:
df = pd.read_csv('Cohort.csv')

In [3]:
df.head()

,SUBJECT_ID,INTIME,OUTTIME,VStart,VEndtime,deathtime,DEATH_T0,DEATH_MV,label
0,543,2148-12-13 19:41:49.000000 UTC,2148-12-17 19:45:40.000000 UTC,2148-12-13 22:00:00.000000 UTC,2148-12-15 08:00:00.000000 UTC,NaN,999999,999999,0
1,1049,2118-09-04 14:22:40.000000 UTC,2118-09-10 12:42:22.000000 UTC,2118-09-04 20:00:00.000000 UTC,2118-09-09 07:00:00.000000 UTC,2118-09-10 11:25:00.000000 UTC,141,135,0
2,1501,2146-12-11 14:05:45.000000 UTC,2146-12-19 15:18:01.000000 UTC,2146-12-15 20:20:00.000000 UTC,2146-12-16 12:04:00.000000 UTC,NaN,999999,999999,0
3,2187,2134-06-30 23:21:18.000000 UTC,2134-07-02 17:52:28.000000 UTC,2134-07-02 14:15:00.000000 UTC,2134-07-02 15:00:00.000000 UTC,NaN,999999,999999,0
4,1855,2124-05-19 08:12:58.000000 UTC,2124-05-21 10:02:57.000000 UTC,2124-05-19 21:00:00.000000 UTC,2124-05-21 00:15:00.000000 UTC,2124-05-21 05:00:00.000000 UTC,45,32,0

In [4]:
len(df)

4926

In [5]:
folds = StratifiedKFold(n_splits= 3, )
folds

StratifiedKFold(n_splits=3, random_state=None, shuffle=False)

In [10]:
for fold, (tr, te) in enumerate(folds.split(df.drop('label', axis= 1), df['label'])):
    trx = df.loc[tr]
    tex = df.loc[te]

    print(len(trx[trx['label'] == 1]), len(tex[tex['label'] == 1]))
    trx.to_csv(f'folds/train_{fold}.csv', index= False)
    tex.to_csv(f'folds/val_{fold}.csv', index= False)

52 25
51 26
51 26